#Create a .env file in the root directory of your project and add the following environment variables:

# Base AI Tool Builder Environment Variables
REACT_APP_BASE_BACKEND_URL=http://localhost:9500

# Base AI Tool Builder Environment Variables
REACT_APP_TITLE="Your Base AI Tool Builder"
REACT_APP_DESCRIPTION="a base platform to build your tools"
REACT_APP_WHAT_IS_TITLE="What is Base AI Builder?"
REACT_APP_WHAT_IS_DESCRIPTION="We provide a base structure for all this and we allow you to use it instead of building from scratch. We will allow you to build from a base structure that we have."
REACT_APP_AGENTS_TITLE="Meet Your AI Learning Agents"
REACT_APP_AGENTS_DESCRIPTION="You can display your personalized agents here in this space"
REACT_APP_FOOTER_TITLE="Base AI Tool Builder"
REACT_APP_FOOTER_DESCRIPTION="We provide a base structure for all this and we allow you to use it instead of building from scratch. We will allow you to build from a base structure that we have."
REACT_APP_HEADER_TITLE="Base AI Tool Builder"
REACT_APP_BUTTON_TRY="Try Base AI Builder"
REACT_APP_BUTTON_TRY_WORK="Try Base AI Builder for Work"
REACT_APP_BUTTON_ASK="Ask Base AI Builder"
REACT_APP_HERO_LINE1="Build anything,"
REACT_APP_HERO_LINE2="build your own agents with AI"
REACT_APP_PAGE_TITLE="Base AI Tool Builder"