# Environment variables for the application

# General settings
version=0.1.0
PORT=9500
API_PREFIX=/api
PROJECT_NAME=base ai tool builder
TITLE_OF_THE_PROJECT=base ai tool builder API
DESCRIPTION_OF_THE_PROJECT=Backend API for base ai tool builder - Your AI-powered tool building assistant

# Embedding model settings
EMBEDDING_MODEL=text-embedding-ada-002
VECTOR_STORE_PATH=./vector_store

# logging settings
LOG_LEVEL=info

# Document handling settings
MAX_DOCUMENT_SIZE_MB=10
ALLOWED_DOCUMENT_TYPES=["pdf", "txt", "docx", "html"]

# CORS settings
BACKEND_CORS_ORIGINS=["*"]  # Allow all origins for development; adjust in production

# OpenAI API settings
OPENAI_API_KEY=
DEFAULT_MODEL=

# MongoDB settings
MONGODB_URI=
MONGODB_TEST_DB=test_db

# Document store settings
DOCUMENT_STORE_INVOKER_URL=http://localhost:9500 #This should be same as the Uvicorn running port / This repo port (chek main.py)