fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
requests
loguru
openai
PyPDF2
python-docx
beautifulsoup4
pymongo
aiohttp
PyJWT
email-validator
google-search-results
passlib[bcrypt]
bcrypt
websockets
gtts
logfire[fastapi]